:root {
  --vp-c-gray-1: #dfd3c0;
  --vp-c-gray-2: #bfb3a0;
  --vp-c-gray-3: #cfc3b0;
  --vp-c-gray-soft: rgba(169, 150, 110, 0.14);

  --vp-c-yellow-1: #af6f0f;
  --vp-c-yellow-2: #df8f1f;
  --vp-c-yellow-3: #ffaf00;

  --vp-c-yellow-soft: rgba(234, 179, 8, 0.14);

  --vp-c-brand-1: var(--vp-c-yellow-1); /*文字强调色*/
  --vp-c-brand-2: var(--vp-c-yellow-2);
  --vp-c-brand-3: var(--vp-c-yellow-3);
  --vp-c-brand-soft: var(--vp-c-yellow-soft);
}

code {
  font-family: 'Cascadia code','Monospace','menlo';
}

.dark {
  --vp-c-gray-1: #5f5a4f;
  --vp-c-gray-2: #4f4a3f;
  --vp-c-gray-3: #3f3a2f;
  --vp-c-gray-soft: rgba(151, 117, 56, 0.16); /* `space` 背景 */

  --vp-c-yellow-1: #ffaf00;
  --vp-c-yellow-2: #df8f1f;
  --vp-c-yellow-3: #af6f0f;

  --vp-c-yellow-soft: rgba(234, 179, 8, 0.16);
}


:root {
  --vp-c-bg-f: #fff4df;
  --vp-c-bg: #efe4cf;
  --vp-c-bg-alt: #dfd4bf;
  --vp-c-bg-elv: #ffffff;
  --vp-c-bg-soft: #f6f6f7;
  --vp-border-color:#3f3d3a;
}

.dark {
  --vp-c-bg-f: #0f0a00;
  --vp-c-bg: #181510;     /*主体文档背景*/
  --vp-c-bg-alt: #1f1d1a; /*侧边栏背景*/
  --vp-c-bg-elv: #3f3d3a;
  --vp-c-bg-soft: #2f2a1f; /*表格副背景*/
  --vp-border-color: #cfcaaf;
}

:root {
  --vp-c-border: #cfaf6f;
  --vp-c-divider: #cfaf6f;
  --vp-c-gutter: #cfaf6f;
}

.dark {
  --vp-c-border: #4f4a3f;
  --vp-c-divider: #4f4a3f;
  --vp-c-gutter: #4f4a3f;
}

:root {
  --vp-c-text-1: #1f1910;
  --vp-c-text-2: #3f392f;
  --vp-c-text-3: #1f1910;
  --vp-c-custom-text: #6f4f00;
}

.dark {
  --vp-c-text-1: #efdfbf;
  --vp-c-text-2: #cfbf9f;
  --vp-c-text-3: #cfbf9f;
  --vp-c-custom-text: #efcf7f;
}

:root {
  --vp-local-nav-bg-color: var(--vp-c-bg);
}

/*===不稳定的类===*/

/*存在大量!important*/

h1,h2,h3,h4,h5,h6 {
  color: var(--vp-c-text-1);
}

body p {
  color: var(--vp-c-text-3);
}

.VPSidebarItem.level-1.is-link > .item .link > .text,
.VPSidebarItem.level-2.is-link > .item .link > .text,
.VPSidebarItem.level-3.is-link > .item .link > .text,
.VPSidebarItem.level-4.is-link > .item .link > .text,
.VPSidebarItem.level-5.is-link > .item .link > .text {
  border-radius: 16px;
}

.VPSidebarItem.level-1.is-active > .item .link > .text,
.VPSidebarItem.level-2.is-active > .item .link > .text,
.VPSidebarItem.level-3.is-active > .item .link > .text,
.VPSidebarItem.level-4.is-active > .item .link > .text,
.VPSidebarItem.level-5.is-active > .item .link > .text {
  border-left: 4px solid #ffaf00;
  padding-left: 12px;
  background-color: #ffaf001f;
  border-radius: 16px;
}

.content-container {
  max-width: 100% !important;
}

div > .title:not(a) {
  padding: 0px 0px !important;
}

.is-home {
  background: fixed;
  background-image: linear-gradient(#181510cf, #181510cf),
url(https://acovia.net/docs/acovia-server/pictures/acovia-1.png);
}

.container[data-v-86346a6a] {
  margin: 0px 0px !important;
  max-width: unset !important;
  padding: 0px 0px;
}

@media (min-width: 1440px) {
  .VPSidebar {
    padding-left: 32px !important;
  }
}

@media (min-width: 960px) {

  div > .title:not(a) {
    padding: 0px 16px !important;
  }

  .group {
    width: 100% !important;
  }

}

.item {
  user-select: none;
}