:root {
  --vp-c-gray-1: #5f564f;
  --vp-c-gray-2: #7f756f;
  --vp-c-gray-3: #afa59f;
  --vp-c-gray-soft: #af3f001f;

  --vp-c-acovia-1: #af3f00;
  --vp-c-acovia-2: #cf4f00;
  --vp-c-acovia-3: #ff5f00;

  --vp-c-acovia-soft: #af7f003f;

  --vp-c-brand-1: var(--vp-c-acovia-1); /*文字强调色*/
  --vp-c-brand-2: var(--vp-c-acovia-2);
  --vp-c-brand-3: var(--vp-c-acovia-3);
  --vp-c-brand-soft: var(--vp-c-acovia-soft);
}

code {
  font-family: 'Cascadia code','Monospace','menlo', 'Fira code'
}

.dark {
  --vp-c-gray-1: #afa59f;
  --vp-c-gray-2: #7f756f;
  --vp-c-gray-3: #3f352f;
  --vp-c-gray-soft: #ff5f001f;

  --vp-c-acovia-1: #ff5f00;
  --vp-c-acovia-2: #cf4f00;
  --vp-c-acovia-3: #af3f00;

  --vp-c-acovia-soft: #ff7f001f;

}


:root {
  --vp-c-bg: #efe7e0;
  --vp-c-bg-alt: #dfd7d0;
  --vp-c-bg-elv: #ffffff;
  --vp-c-bg-soft: #ffffff;
  --vp-border-color:#3f3d3a;
}

.dark {
  --vp-c-bg: #181310;     /*主体文档背景*/
  --vp-c-bg-alt: #1f1c1a; /*侧边栏背景*/
  --vp-c-bg-elv: #2f2c2a;
  --vp-c-bg-soft: #2f2c2a; /*表格副背景*/
  --vp-border-color: var(--vp-c-gray-1);
}

:root {
  --vp-c-border: var(--vp-c-gray-1);
  --vp-c-divider: var(--vp-c-gray-2);
  --vp-c-gutter: var(--vp-c-gray-3);
}

:root {
  --vp-c-text-1: #1f150f;
  --vp-c-text-2: #3f352f;
  --vp-c-text-3: #1f150f;
}

.dark {
  --vp-c-text-1: #efdcd0;
  --vp-c-text-2: #cfbcb0;
  --vp-c-text-3: #cfbcb0;
}

:root {
  --vp-local-nav-bg-color: var(--vp-c-bg);
}

/*===不稳定的类===*/

/*存在大量!important*/

h1,h2,h3,h4,h5,h6 {
  color: var(--vp-c-text-1);
}

body p {
  color: var(--vp-c-text-3);
}

.VPSidebarItem.level-1.is-link > .item .link > .text,
.VPSidebarItem.level-2.is-link > .item .link > .text,
.VPSidebarItem.level-3.is-link > .item .link > .text,
.VPSidebarItem.level-4.is-link > .item .link > .text,
.VPSidebarItem.level-5.is-link > .item .link > .text {
  border-radius: 16px;
}

.VPSidebarItem.level-1.is-active > .item .link > .text,
.VPSidebarItem.level-2.is-active > .item .link > .text,
.VPSidebarItem.level-3.is-active > .item .link > .text,
.VPSidebarItem.level-4.is-active > .item .link > .text,
.VPSidebarItem.level-5.is-active > .item .link > .text {
  border-left: 4px solid var(--vp-c-acovia-1);
  padding-left: 12px;
  background-color: var(--vp-c-acovia-soft);
  border-radius: 16px;
}

.content-container {
  max-width: 100% !important;
}

div > .title:not(a) {
  padding: 0px 0px !important;
}

@media (min-width: 960px) {

  .VPSidebar {
    padding-left: 32px !important;
  }

  div > .title:not(a) {
    padding: 0px 32px !important;
  }

  .group {
    width: 100% !important;
  }

}

.item {
  user-select: none;
}